#space {
  border: 1px solid black;
  background-image: url("../assets/Background/starBackground.png");
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 800px;
}

#ship {
  position: absolute;
}

.enemy-ship {
  position: absolute;
}

.shot {
  position: absolute;
}

.enemy-ufo {
  position: absolute;
}

.meteor-big {
  position: absolute;
}

.meteor-small {
  position: absolute;
}

#scoreboard p {
  display: inline-block;
  margin-right: 20px;
}

#start-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: black;
  z-index: 99999;
}

#score {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: white;
}